# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# PyTorch model weights
*.pt
*.pth

# Data directory (ignore all files under data/)
data/*


# VSCode
.vscode/

# Environment
.env
*.env
